

<div class='container'>
<h1>Movimientos</h1>
<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Fecha</th>
      <th scope="col">Monto</th>
      <th scope="col">Descripcion</th>
    </tr>
  </thead>
  <tbody>

<% for j in 0...@movements.size do %>
  <%@movements[j].each_with_index do |movement, i|%>
    <tr>
      <th scope="row"><%= i+1 %></th>
      <td><%= movement['post_date'].to_date%></td>
      <td><%= number_to_currency(movement['amount'], :precision => 0, :delimiter =>'.')%></td>
      <td><%= movement['description']%></td>
    </tr>
  <% end %>
<% end %>

  </tbody>
</table>
</div>
