// Specific CSS for your home-page
.head_uno {
  font-family:"Flexo", sans-serif;
  font-size: 18px;
  font-weight: bold;
  line-height: 27px;
  text-transform: uppercase;
  color: #11beb3;
  letter-spacing: .8px;
}
.head_dos h1 {
  font-family: "Flexo", sans-serif;
  font-weight: 100;
  font-size: 40px;
  line-height: 54px;
  margin: 10px 0 0px;
}
.head_tres p {
  font-family: "Flexo", sans-serif;
  font-weight: 100;
  font-size: 20px;
  
  margin: 0px 0 0px;
}
