<div class="landing_page">
  <div class="container">
    <h1 class="head_uno">La mas amplia red de bancos suscritos</h1>
    <div class="text-start head_dos">
      <h1>La unica app que consolida tus cuentas bancarias en una sola plataforma</h1>

    <div class="head_tres">
      <p>El lugar mas rapido y seguro para revisar tus saldos, realizar transferencias y ordenar tus gastos</p>
    </div>
    <br>
    <div class="d-grid gap-2 col-2">
      <%= link_to 'Comenzar', new_user_session_path, class: 'btn btn-primary' %>
    </div>

    <div>
    </div><%= image_tag "landing.png", class:"img-fluid mt-5 text-end" %>
  </div>
</div>
<br>
