.navbar-lewagon {
  justify-content: space-between;
  background: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.bn3637 {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 10px 15px;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 18px;
  text-align: center;
  text-decoration: none;
  color: #fff;
  backface-visibility: hidden;
  border: 3px solid transparent;
  border-radius: 3rem;
  margin-left: 10px;
}

.bn37 {
  border-color: lightcoral;
  background-color: #fff;
  color: lightslategrey;
  transition: transform 0.2s cubic-bezier(0.235, 0, 0.05, 0.95);
}

.bn37:hover,
.bn37:focus {
  box-shadow: 0 0.5em 0.5em -0.4em var(--hover);
  transform: translateY(-0.25em);
  color: black;
}

.b{
  border-color: #167FFB;
}
