<%= simple_form_for(@category) do |f| %>
  <div class="modal-header">
    <h5 class="modal-title" id="exampleModalLabel">Categoría</h5>
    <button type="button" class="close btn-cierre" data-dismiss="modal" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
      <h3>Categoría</h3>
        <%= f.input :name, :label => 'Nombre' %>
  </div>
  <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
        <button type="submit" class="btn btn-primary">Guardar</button>
      </div>
<% end %>
