<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-4 col-sm-offset-4">
      <div class="form-devise">
        <h2>Edita esta categoría</h2>
        <%= simple_form_for @category do |f| %>
          <%= f.input :name, :label => 'Nombre de la categoría' %>
          <%= f.button :submit, 'Actualizar categoría', class: 'btn-submit' %>
          <%= link_to "Volver", :back, class: "btn btn-gradient" %>
        <% end %>
      </div>
    </div>
  </div>
</div>
