<div class="container">
  <br>
  <h1>Categorías</h1>
  <br>
  <% @categories.each do |category| %>
    <ul><h3><%= category.name %></h3></ul>
    <ul><%= link_to "Editar categoría", edit_category_path(category), class: "nav-link" %></ul>
  <% end %>
  <%= link_to "Crear nueva categoría", new_category_path, class: "nav-link" %>
</div>
