<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-4 col-sm-offset-4">
      <div class="form-devise">
        ctgviews1.0
        <h2>Nueva categoría</h2>
        <%= simple_form_for @category do |f| %>
          <%= f.input :name, :label => 'Nombre' %>
          <%= f.button :submit, "Crear categoría", class: 'btn-submit' %>
        <% end %>
      </div>
    </div>
  </div>
</div>
